{% extends 'base.html.twig' %}
{% block title %}Editar mueble{% endblock %}
{% block body %}
    <h1>Editar mueble</h1>
    {{ form(formulario) }}
    <br>
    <footer>
        <a href="/logout" class="button">Cerrar sesión</a>
    </footer>
{% endblock %}